page-admission-information {
  .card-md p {
    font-size: 20px;
    color: #3352a1;
    line-height: 200%;
  }
  .badge-md {
    font-size: 20px;
    background-color: #445ca5;
    text-align: center;
    white-space: normal;
    line-height: 150%;
  }
  
  .card-md{
    border-radius: 0px 40px 0px 0px;
    
  }
}
