page-profile {
.center{
    border-radius: 50%;
    display: block;
    margin-right: auto;
    margin-left: auto;
 }
 .name{
    color: #445ca5;
    text-align: center
 }
.parentData{
    color: #445ca5;
    font-size: 15px;
    border-bottom: 1px solid;
    border-top: 1px solid;
    padding-bottom: 10px;
    padding-top: 10px;
    
}

}
