html, 
body {
    height: 100%;
    width: 100%;
    
}

.toolbar{
    border-bottom: 1px outset #ffff ;
}



.menu-inner .scroll-content{
    background-color: #ffff;
   
}

.list-md .item-block .item-inner{
    color: #445ca5;
    font-size: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
}
